@model IPagedList<UserViewModel>

@{
    ViewData["Title"] = "_UserGridPartial";
}

<div id="content">
    <div class="panel-body">
        <table class="table  table-bordered table-hover">
            <thead>
                <tr>
                    <th>UsernameName</th>
                    <th>Email</th>
                    <th>Id</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {

                    <tr onclick="myFunction('@user.ID')">
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td data-user-id="@user.ID"> @user.ID </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <br />
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    <div id="contentPager">        
        @Html.PagedListPager(
            Model, page => Url.Action("UserGrid", new { page })
        )
    </div>
</div>
