@model AllUsersViewModel

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
    var counter = 1;
}

<nav class="navbar navbar-expand-md navbar-light bg-light">
    <form asp-area="Admin" asp-action="AllUsers" asp-controller="Users" method="GET" class="form-inline">
        <input asp-for="@Model.SearchText" class="form-control mr-sm-2" type="search" placeholder="Search user by name..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>
<table class="table table-responsive-md table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>Number</th>
            <th>Username</th>
            <th>Email</th>
            <th>Settings</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Users.Count() == 0)
        {
            <tr>
                <td colspan="4">No data available in table</td>
            </tr>
        }
        else
        {
            foreach (var user in Model.Users)
            {
                var unlockButtonDisabled = user.LockoutEnd < DateTimeOffset.Now ? "disabled" : string.Empty;
                var lockButtonDisabled = user.LockoutEnd < DateTimeOffset.Now ? string.Empty : "disabled";

                <tr>
                    <td>@counter</td>
                    <td>@user.UserName</td>
                    <td>@user.Email</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Tooltip on top">
                                Tooltip on top
                            </button>
                            <!--LOCK BUTTON-->
                            <div>
                                <button type="button" class="btn p-1" id="lockButton" data-toggle="modal" data-target="#lockModal" title="Lock user" data-whatever="@user.UserName" data-user-id="@user.Id" @lockButtonDisabled><img src="~/images/icons8-lock-24.png" /></button>
                            </div>

                            <!--UNLOCK BUTTON-->
                            <div class="ml-2">
                                <button type="button" class="btn p-1" id="unlockButton" data-toggle="modal" data-target="#unlockModal" data-whatever="@user.UserName" data-user-id="@user.Id" @unlockButtonDisabled><img src="~/images/icons8-padlock-24.png" /></button>
                            </div>

                            <!--PASSWORD BUTTON-->
                            <div class="ml-2">
                                <button type="button" class="btn p-1" id="passwordButton" data-toggle="modal" data-target="#passwordModal" data-whatever="@user.UserName" data-user-id="@user.Id"><img src="~/images/icons8-password-1-24.png" /></button>
                            </div>

                            <!--ROLE BUTTON-->
                            <div class="ml-2">
                                <button type="button" class="btn p-1" id="roleButton" data-toggle="modal" data-target="#roleModal" data-whatever="@user.UserName" data-user-id="@user.Id"><img src="~/images/icons8-account-24.png" /></button>
                            </div>
                        </div>
                    </td>
                </tr>
                counter++;
            }
        }
    </tbody>
</table>

<!--PAGINATION LOGIC-->
<nav aria-label="Page navigation example" align="center">
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link @previousDisabled" href="/Admin/Users/AllUsers/?searchtext=@Model.SearchText&page=@Model.PreviousPage" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
        </li>
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            <li class="page-item"><a class="page-link" href="/Admin/Users/AllUsers?searchtext=@Model.SearchText&page=@i">@i</a></li>
        }
        <li class="page-item">
            <a class="page-link @nextDisabled" href="/Admin/Users/AllUsers/?searchtext=@Model.SearchText&page=@Model.NextPage" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a>
        </li>
    </ul>
</nav>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>