@model AllUsersViewModel

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
    var counter = 1;
}

<div id="content">
    <nav class="navbar navbar-expand-md navbar-light">
        <form asp-area="Admin" asp-action="AllUsers" asp-controller="Users" method="GET" class="form-inline">
            <input asp-for="@Model.SearchText" class="form-control mr-sm-2" type="search" placeholder="Search user by name..." aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit" id="adminDashboardButtnon">Search</button>
        </form>

    </nav>
    <table class="table table-responsive-md table-hover text-light">
        <thead>
            <tr class="text-md-center">
                <th>Number</th>
                <th>Username</th>
                <th>Email</th>
                <th>Settings</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Users.Count() == 0)
            {
                <tr class="text-md-center">
                    <td colspan="4">No data available in table</td>
                </tr>
            }
            else
            {
                foreach (var user in Model.Users)
                {
                    var unlockButtonDisabled = user.LockoutEnd < DateTimeOffset.Now ? "disabled" : string.Empty;
                    var lockButtonDisabled = user.LockoutEnd < DateTimeOffset.Now ? string.Empty : "disabled";

                    <tr class="text-md-center">
                        <td>@counter</td>
                        <td>@user.UserName</td>
                        <td>@user.Email</td>
                        <td>
                            <div class="btn-group">

                                <!--LOCK BUTTON-->
                                <div class="tooltip-inside">
                                    <button type="button" class="btn p-1 tooltip-inside" id="lockButton" data-toggle="modal" data-target="#lockModal" data-whatever="@user.UserName" data-user-id="@user.Id" @lockButtonDisabled><img src="~/images/icons8-lock-24.png" /></button>
                                    <span class="tooltiptext">Lock User</span>
                                </div>

                                <!--UNLOCK BUTTON-->
                                <div class="tooltip-inside ml-2 ">
                                    <button type="button" class="btn p-1" id="unlockButton" data-toggle="modal" data-target="#unlockModal" data-whatever="@user.UserName" data-user-id="@user.Id" @unlockButtonDisabled><img src="~/images/icons8-padlock-24.png" /></button>
                                    <span class="tooltiptext">Unlock User</span>
                                </div>

                                <!--PASSWORD BUTTON-->
                                <div class="tooltip-inside ml-2">
                                    <button type="button" class="btn p-1" id="passwordButton" data-toggle="modal" data-target="#passwordModal" data-whatever="@user.UserName" data-user-id="@user.Id"><img src="~/images/icons8-password-1-24.png" /></button>
                                    <span class="tooltiptext">Change Password</span>
                                </div>

                                <!--ROLE BUTTON-->
                                <div class="tooltip-inside ml-2">
                                    <button type="button" class="btn p-1" id="roleButton" data-toggle="modal" data-target="#roleModal" data-whatever="@user.UserName" data-user-id="@user.Id"><img src="~/images/icons8-account-24.png" /></button>
                                    <span class="tooltiptext">Change Role</span>
                                </div>

                                <!--ADD SENSOR BUTTON-->
                                <form>
                                    <div class="tooltip-inside ml-2">
                                        <button asp-area="Admin" asp-controller="Sensors" asp-action="" type="button" class="btn p-1" id="sensorsButton" data-whatever="@user.UserName" data-user-id="@user.Id"><img src="~/images/icons8-plus-24.png" /></button>
                                        <span class="tooltiptext">Add Sensor</span>
                                    </div>
                                </form>
                            </div>
                        </td>
                    </tr>
                    counter++;
                }
            }
        </tbody>
    </table>
    <!--PAGINATION LOGIC-->
    <nav aria-label="Page navigation example" align="center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link @previousDisabled" href="/Admin/Users/UserGrid/?searchtext=@Model.SearchText&page=@Model.PreviousPage" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/Admin/Users/UserGrid?searchtext=@Model.SearchText&page=@i">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link @nextDisabled" href="/Admin/Users/UserGrid/?searchtext=@Model.SearchText&page=@Model.NextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>