@model AllSensorsViewModel

@{
    var previousDisabled = Model.Page == 1 ? "disabled" : string.Empty;
    var nextDisabled = Model.Page == Model.TotalPages ? "disabled" : string.Empty;
}
<div id="content">
    <nav class="navbar navbar-expand-md">
        <form asp-area="Admin" asp-action="AllSensors" asp-controller="Sensors" method="GET" class="form-inline">
            <input asp-for="@Model.SearchByName" class="form-control mr-md-2" type="search" placeholder="Search by username..." aria-label="Search">
            <button class="btn my-2 my-sm-0" type="submit" id="adminDashboardButtnon">Search</button>
        </form>
    </nav>

    @{
        if (Model.Sensors.Count() == 0)
        {
            <h5 class="text-light">No data available</h5>
        }
        else
        {
            <div class="row img-responsive">

                @foreach (var sensor in Model.Sensors.OrderBy(s => s.UserName))
                {

                    var dictModel = new Dictionary<string, string>
{
{"Id", "" + sensor.Id },
{"IcbSensorId", "" + sensor.IcbSensorId },
{"Tag", "" + sensor.Tag },
{"Name", "" + sensor.Name },
{"UserName", "" + sensor.UserName },
{"Description", "" + sensor.Description },
{"PollingInterval", "" + sensor.PollingInterval },
{"Value", "" + sensor.Value },
{"MinValue", "" + sensor.MinValue },
{"MaxValue", "" + sensor.MaxValue },
{"ModifiedOn", "" + sensor.ModifiedOn },
{"IsPublic", "" + sensor.IsPublic },
{"Alarm", "" + sensor.Alarm },
{"Latitude", "" + sensor.Latitude },
{"Longtitude", "" + sensor.Longtitude },
{"ImageURL", "" + sensor.ImageURL },
{"MeasureType", "" + sensor.MeasureType },

};
                    var currentValue = "" + sensor.Value;
                    if (sensor.Tag.Contains("Door"))
                    {
                        if (sensor.Value == 0)
                        {
                            currentValue = "Close";
                        }
                        else
                        {
                            currentValue = "Open";
                        }
                    }

                    else if (sensor.Tag.Contains("Occupancy"))
                    {
                        if (sensor.Value == 0)
                        {
                            currentValue = "False";
                        }
                        else
                        {
                            currentValue = "True";
                        }
                    }
                    string isPublic = sensor.IsPublic ? "On" : "Off";
                    string alarm = sensor.Alarm ? "On" : "Off";


                    <div class="col-md-3 p-md-3">
                        <div class="card">
                            <img class="card-img-top" src="@sensor.ImageURL" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">@sensor.Name</h5>
                                <p class="card-text">@sensor.Description</p>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">User Name: @sensor.UserName</li>
                                    <li class="list-group-item">Public: @isPublic</li>
                                    <li class="list-group-item">Alarm: @alarm</li>
                                    <li id="@sensor.IcbSensorId" class="list-group-item">Value: @currentValue</li>
                                </ul>
                            </div>
                            <a asp-area="Admin" asp-controller="Sensors" asp-action="SensorGraphic" asp-all-route-data="dictModel" class="btn my-md-2" id="adminDashboardButtnon">Graphic View</a>
                            <a asp-area="Admin" asp-controller="Sensors" asp-action="EditSensor" asp-all-route-data="dictModel" class="btn my-md-2" id="adminDashboardButtnon">Edit</a>
                            <div class="card-footer">
                                <small id="Date_@sensor.IcbSensorId" class="text-muted">Last updated @sensor.ModifiedOn</small>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    <!--PAGINATION LOGIC-->
    <nav aria-label="Page navigation example" align="center">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link @previousDisabled" href="/Admin/Sensors/SensorGrid/?searchtext=@Model.SearchByName&page=@Model.PreviousPage" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" href="/Admin/Sensors/SensorGrid?searchtext=@Model.SearchByName&page=@i">@i</a></li>
            }
            <li class="page-item">
                <a class="page-link @nextDisabled" href="/Admin/Sensors/SensorGrid/?searchtext=@Model.SearchByName&page=@Model.NextPage" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

