@model IEnumerable<UserSensorViewModel>

@{
    ViewData["Title"] = "_MapPartial";
}

<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <div>
        <h3>All public sensors all over the world</h3>
    </div>
    <!--The div element for the map -->
    <div id="map"></div>
    <script>
        // Initialize and add the map
        function initMap() {
            // The location of Sofia
            var sofia = { lat: 42.698334, lng: 23.319941 };
            // The map, centered at Sofia
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 3.7, center: sofia });

            @{
                //int counter = 1;
                foreach (var user in Model)
                {
                    <text>
                            var pin = { lat: @user.Latitude, lng: @user.Longtitude };
                    </text>

                    <text>
                            var contentString = '<div id="content">' +
                                '<div id="siteNotice">' +
                                '</div>' +
                                '<h5 id="firstHeading" class="firstHeading">@user.Tag</h5>' +
                                '<div id="bodyContent">' +
                                '<div><b>Username:</b> @user.UserName</div>' +
                                '<div><b>Description:</b> @user.Description</div>' +
                                '<div><b>Alarm:</b> @user.Alarm</div>' +
                                '<div><b>Value:</b> @user.Value °C</div>' +
                                '<div><b>ModifiedOn:</b> @user.ModifiedOn</div>' +
                                '<div><b>Latitude:</b> @user.Latitude</div>' +
                                '<div><b>Longitude:</b> @user.Longtitude</div>' +
                                '</div>' +
                                '</div>';

                                            var infowindow = new google.maps.InfoWindow({
                                content: contentString,
                                disableAutoPan: true
                            });
                            
                            var marker = new google.maps.Marker({
                                position: pin, animation: google.maps.Animation.DROP, map: map, title: '@user.Tag'
                            });

                            google.maps.event.addListener(marker, 'click', (function (marker, contentString, infowindow) {
                                        return function () {
                                            infowindow.setContent(contentString);
                                            infowindow.open(map, marker);
                                        };
                                    })(marker, contentString, infowindow));
                    </text>
                }
            }
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKjLtaycPzwgQOUjWv9ONKdMDCkLXafak&callback=initMap">
    </script>
</body>
</html>

