@model UserSensorModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    var dictModel = new Dictionary<string, string>
{
        {"IcbSensorId", "" + @Model.IcbSensorId },
        {"Tag", "" + @Model.Tag },
        {"Name", "" + @Model.Name },
        {"Description", "" + @Model.Description },
        {"PollingInterval", "" + @Model.PollingInterval },
        {"MeasureType", "" + @Model.MeasureType },
        {"TimeStamp", "" + @Model.TimeStamp },
        {"Value", "" + @Model.Value },
        {"MinValue", "" + @Model.MinValue },
        {"MaxValue", "" + @Model.MaxValue },
        {"ModifiedOn", "" + @Model.ModifiedOn },
        {"IsPublic", "" + @Model.IsPublic },
        {"Alarm", "" + @Model.Alarm },
        {"Latitude", "" + @Model.Latitude },
        {"Longtitude", "" + @Model.Longtitude }

};
    string imageUrl = String.Empty;
    var currentValue = "" + Model.Value;
    if (Model.Tag.Contains("Door"))
    {
        imageUrl = "/images/doorSensor.png";
        if (Model.Value == 0)
        {
            currentValue = "Close";
        }
        else
        {
            currentValue = "Open";
        }
    }

    else if (Model.Tag.Contains("Occupancy"))
    {
        imageUrl = "/images/occupancySensor.png";
        if (Model.Value == 0)
        {
            currentValue = "False";
        }
        else
        {
            currentValue = "True";
        }
    }

    else if (Model.Tag.Contains("Temperature"))
    {
        imageUrl = "/images/temperatureSensor.png";
    }

    else if (Model.Tag.Contains("Humidity"))
    {
        imageUrl = "/images/humiditySensor.png";
    }

    else if (Model.Tag.Contains("Electric"))
    {
        imageUrl = "/images/electricSensor.png";
    }

    else if (Model.Tag.Contains("Noise"))
    {
        imageUrl = "/images/noiseSensor.png";
    }
}

<div>
    <input asp-for="Latitude" type="hidden" value="@Model.Latitude" />
    <input asp-for="Longtitude" type="hidden" value="@Model.Longtitude" />
</div>
@{ string isPublic = Model.IsPublic ? "On" : "Off";
    string alarm = Model.Alarm ? "On" : "Off";
    }

<div class="card">
    <img class="card-img-top" src=@imageUrl style="height:13rem;" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Public: @isPublic</li>
        <li class="list-group-item">Alarm: @alarm</li>
        <li class="list-group-item">Value: @currentValue</li>
        @if (Model.Value < Model.MinValue || Model.Value > Model.MaxValue)
        {

            <li class="list-group-item">

                <div class="led-box">

                    <div class="led-box">
                        <div class="led-red"></div>
                    </div>

                </div>
            </li>
        }
        else
        {

            if (currentValue == "True" || currentValue == "False" || currentValue == "Open" || currentValue == "Close")
            {
                <li class="list-group-item progressBarField">
                    <div class="led-box">
                        <div class="led-green"></div>
                    </div>
                </li>
            }
            else
            {
                <li class="list-group-item progressBarField">
                    <div class="col container">
                        <div class="form-row ">
                            <div class="col-lg-12 my-1">
                                <div id="sensorsProgressBar" class="progress">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="10" aria-valuemin="10" aria-valuemax="20" style="background-color:#FD8227; width: @((Model.Value - Model.MinValue)*100/(Model.MaxValue - Model.MinValue))%"> @Model.Value &#8451;</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
            }
        }

        <li class="list-group-item text-center">
            <a asp-controller="User" asp-action="ModifySensor" asp-all-route-data="dictModel" class="btn my-2 my-sm-0" id="adminDashboardButtnon">Modify</a>
        </li>
    </ul>
    <div class="card-footer">
        <small class="text-muted">Last updated @Model.ModifiedOn</small>
    </div>
</div>
