@model UserSensorModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<div class="container">
    <h1>Responsive Bootstrap</h1>
    <div class="row">
        <div class="col" style="padding:0px">
            <div>@Model.Tag</div>
            <div>@Model.Description</div>
            <div>@Model.Value</div>
            <div>@Model.IsPublic</div>
        </div>

        @if (Model.Value < Model.MinValue || Model.Value > Model.MaxValue)
        {
            <div class="col">danger</div>
        }
        else
        {
            <div class="col container">
                <div class="form-row my-5">
                    
                    <div class="col-lg-10">
                        <div class="progress" style="height:2em;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated " role="progressbar" aria-valuenow="10" aria-valuemin="10" aria-valuemax="20" style="background-color:#FD8227; width: @((Model.Value - Model.MinValue)*100/(Model.MaxValue - Model.MinValue))%"> @Model.Value &#8451;</div>

                        </div>
                    </div>

                </div>

            </div>
        }

    </div>
</div>

<div id="hui" class="container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div class="progress blue">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">90%</div>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="progress yellow">
                <span class="progress-left">
                    <span class="progress-bar"></span>
                </span>
                <span class="progress-right">
                    <span class="progress-bar"></span>
                </span>
                <div class="progress-value">65%</div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('humidityProgressBar');
</script>