@model IEnumerable<SensorViewModel>

@{
    ViewData["Title"] = "CreateSensor";
}

<h2>CreateSensor</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Number</th>
                <th><label asp-for="@Model.FirstOrDefault().Tag"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().Description"></label></th>
                <th><label asp-for="@Model.FirstOrDefault().MeasureType"></label></th>
            </tr>
        </thead>
       
        <tbody>
            @{
                int counter = 1;
                foreach (var sensor in Model)
                {
                    <tr>
                        <td>@counter</td>
                        <td>@sensor.Tag</td>
                        <td>@sensor.Description</td>
                        <td>@sensor.MeasureType</td>
                    </tr>
                    counter++;
                }
            }
        </tbody>      
    </table>
</div>

